/*
    Styles for the career pages
*/

:root {    
    --gold-text: var(--accent-1);
    --question-background: #FAFAFA;
    --image-overlay: #217CB0E6;
    --header-background: #1B4E6CE6;
    --footer-background: #1B4E6CE6;
    --question-box-shadow: 0px 2px 4px #000000A0;
}

.work-page { 
    overflow-x: unset;        
    display: grid;    
    grid-template-rows: 2em 300px 1fr;
}

.work-page .header-content {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 2em;
    background-color: rgba(0,0,0,0.3);
    background-color: rgba(27, 78, 108, 0.9);
}
.work-page .header-content .stats {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:100%;    
    padding-right:1em;
}
.work-page span {    
    text-align: center;
}
.work-page .header-content h6 {
    text-align: center;
    line-height: 2em; 
    font-size: 0.9em;
}

.work-page .company-profile {
    border: 0px solid red;
    background-color: skyblue;    
    background: linear-gradient(rgba(33,124,176,.9),
                                 rgb(0 93 131 / 90%)), 
                                 url(../../img/timeline/nwm.jpg) no-repeat;        
    background-size: 100%;
    background-position: 25%;

    display: grid;
    place-content: center;
    font-size: 48px;
}
.work-page .content {
    display: grid;
    grid-template-columns: 1fr 2fr 1em;    
    align-self: start;

    background: linear-gradient(-180deg,#f6f8f9,hsla(0,0%,96.1%,0));
}

.side-bar {       
    color: black;
    font-size: 24px;
    margin: 10px;
    padding: 20px;
    
}   
.side-bar li {
    position: relative;
    list-style: none;
    margin: 40px 0px;
    text-align: center; 
    font-size: 20px;       
}    
.side-bar li:hover {    
    text-decoration: underline;
    cursor:pointer;
}
.side-bar li.active:before { 
    content: '';
    position: absolute;
    left: 0px;
    width: 5px;
    bottom: -5px;
    height: 1.6em;    
    background: var(--accent-1a);
    z-index: -1;
}

.detail-page {    
    background: white;
    
    margin-top: -3em;
    margin-bottom: 3em;
    border: 1px solid #444;
    box-shadow: 2px 4px 4px #444;
    box-shadow: var(--question-box-shadow);
    max-width: 36em;
}

.question {
    position: relative;
    font-size: 32px;
    padding-bottom: 0.3em;
    margin-bottom: 1em;
}  
.question:before {
    content: '';
    position: absolute;
    left: 48%;
    width: 100%;
    bottom: 8px;        
    height: 14px;
    transform: skew(-12deg) translate(-50%);
    background: var(--gold-text);
    z-index: -1;
}

.question.sub-item {
    font-size: 24px;
}

.question.sub-item:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    top: -50px;        
    height: 1px;
    transform: none;;
    background: black;
    z-index: -1;
}

.detail-page .segment p {
    font-size: 20px;    
}

.detail-page .segment p a {
    text-decoration: underline;
    font-weight: bold;
    color: gray;
    cursor: pointer;
}

.detail-page ul {
    margin: 0px 40px;
}
.detail-page ul li {
    margin: 20px 0px;
    line-height: 1.6em;
}

a.anchor {
    display: block;
    position: relative;
    top: -3.5em;
    visibility: hidden;
}



/* ----------------- SMALL SCREENS ---------------- */

@media only screen and (max-width: 1000px)  {

    .detail-page {
        margin: 0px auto;
        border-color: #919191;
        box-shadow: none;
        border: none;        
    }
    .work-page .company-profile {
        font-size: 32px;
        padding: 10px;
        text-align: center;
    }
    .work-page .content {
        display: grid;
        grid-template-columns: 2fr;
        padding: 20px;
        background: white;
    }

    .side-bar { display: none; }

    .question { 
        font-size: 26px;
        margin-top: 2em;
    }
    .question:before {
        height: 6px;
        bottom: 0px;        
    }

    .detail-page .segment p {
        font-size: 16px;
    }

    .detail-page ul li {
        font-size: 16px;
    }

}

@media only screen and (max-width: 850px)  {
    .work-page .header-content .stats {
        font-size: 0.65em;
    }

    .work-page .company-profile {
        font-size: 20px;
    }

}