
.background-fixed {
    background: linear-gradient(to top, rgba(0,0,0,0.2), rgba(0,0,0,0.6)), url('../img/hero/jewel_basin.webp') no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100vh;
    width: 100vw;

    position: fixed;
    z-index: -1; 
        
    animation: fade-in 0.5s ease-in-out;
    animation-fill-mode: forwards;
    transition: opacity 0.4s;
    /* animation-delay: 1s; */
}

.background-fixed.hidden {
    /* opacity: 0 !important; */
    display: none;
}

#contact {    
    position: relative;     
}

/* .contact-image {
    position: sticky;
    height: 0;
    width: 100%;
    top:0;
}
.contact-image img {   
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;    
    object-fit: cover;
}

.contact-image::after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.2), rgba(0,0,0,0.6)) no-repeat;    
} */

.contact-content {    
    position: relative;
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
    padding: 20%; 
}
.contact-content h1 {    
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.8em;
    letter-spacing: 3px;
    margin-bottom: 20px;    
}
.contact-content p {            
    line-height: 1.6em;
    margin-bottom: 20px;    
}
.contact-links {
    display: flex;

}
.contact-links > div {
    height: 48px;
    width: 48px;
    border: 2px solid white;
    margin-right: 20px;
    margin-top: 20px;   
    display: grid; place-content: center;        

    cursor: pointer;
}
.contact-links > div img {
    width: 100%;
    height: 100%;
    display: block;
}
.contact-links > div:hover {
    background: var(--accent-1);
}
