:root {    
    --slideshow-foreground: white;
    --timeline-selected-foreground: orange; 
    
    --accent-color1: orange;    
    --accent-1: linear-gradient(90deg, hsla(39, 100%, 50%, 1) 0%, hsla(24, 100%, 50%, 1) 100%);
    --accent-1a: linear-gradient(180deg, hsla(39, 100%, 50%, 1) 0%, hsla(24, 100%, 50%, 1) 100%);

    --primary-1: hsl(0deg 0% 100% / 50%);
    /* --primary-4: hsla(202deg 81% 69% / 89%); */
    --primary-5: hsla(202deg 50% 57% / 89%);
    --primary-6: hsla(202deg  50% 41% / 90%);
    --primary-7: hsla(202deg 49% 48% / 80%);
    --primary-9: hsl(202deg 45% 28% / 93%);
    /* --primary-10: hsl(202deg 38% 21% / 91%); */
    --primary-10: hsla(202deg 38% 21% / 51%);    
}