
  section.landing {  
    height: 100vh;
    position: relative;   
    display: block;       
    /* box-shadow: 0px 4px 6px #444;    */
    z-index: 2;
    overflow:hidden;    

    /* This is pretty sweet -> https://codepen.io/dev_loop/pen/jOborLv */
    /* cursor: url('../img/icons/compass.svg') 12 12, pointer;      */
  }

  
  section .foreground {    
      position: relative;
      width: 100%;
      height: 100%;     
  }
  
  section .background {       
      position: absolute;      
  
      inline-size: 100%;
      block-size: 100%;
      background: rgba(0, 0, 0, 0.5);
      /* background: url('../img/hero/lake-mcdonald.jpg');  */
      background: linear-gradient(to top, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('../img/hero/hero-huckleberry-lookout.webp') no-repeat;
      
      background-size: cover; 
      background-repeat: no-repeat;
  
      /* These need to match the javascript starting values */
      transform:scale(1.05);  
      background-position: 50% 50%;
            
      transition: opacity 0.5s;   
      /* animation: animate-background 8s infinite; */
  }
  section .background::after {
      content: '';
      right:0%;
      height: 100%;
      width: 15%;
      position: absolute;
      z-index: 10;
      background: linear-gradient(to right, rgba(0,0,0, 0), rgba(0,0,0, 0.2));       
  }

  @keyframes animate-background {
    0% { background-position: 50% 50%; }
    20% { background-position: 51% calc(50% - 2px)}
    40% { background-position: 51% calc(50% + 3px)}
    60% { background-position: 50% calc(50% + 2px)}
    80% { background-position: 51% calc(50% - 1px)}
    100% { background-position: 50% 50%; }
  }
    
  .fade-out {
      opacity: 0;   
  }
  .fade-in { 
      opacity: 1;
  }
  
  @keyframes animate-opacity {
      0% { opacity: 1; }
      50% { opacity: 0.3; }
      100% { opacity: 1; }
  }  

.logo {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.git-page-logo-hack {
    position: relative;
    z-index: 10;
    width:100%;
    height: 100%;
    max-width:350px;
    max-height: 350px;   
    background: url('../img/logo.webp');  background-repeat: no-repeat; background-size: cover;        
    background-position-y: 50%;
    background-position-x: 0%;   

    filter: drop-shadow(4px 4px 4px #444);
}

.logo img {    
    display: block;
    height: 100%;
    max-height:350px;
    width: 100%;
    max-width: 350px;

    filter: drop-shadow(4px 4px 4px #444);
}


.home-menu {    
    position: relative;
    z-index: 10;    
    position: relative;
    justify-self: end;    
    position: absolute;
    top: 0px;
    right: 0px;       
}


.home-menu ul {
    display: flex;
    flex-direction: row;    
    justify-content: space-around;    
    margin-right: 20px;
}

.home-menu li { 
    list-style: none;
    margin: 10px 0px;    
    padding: 8px 16px;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.home-menu li:hover {     
    padding: 10px 20px;
    background-color: rgba(0,0,0,0.3);    

    border-bottom: 4px solid;
    border-image-slice: 1;
    border-width: 4px;    
    border-image-source: var(--accent-1);
}



.profession {    
    position: absolute;
    z-index: 10;    
    top: 50%;
    right: -140px;      
    transform-origin:center;
    transform:rotate(90deg);

    text-transform: uppercase;    
    font-size: 14px;
    letter-spacing: 4px;
    pointer-events: none;
}

.text-with-contrast { 
    font-weight: 700;
    text-shadow: -2px -2px 10px #444, 2px 2px 2px #444, 0px 0px 4px #444;
    text-shadow: 0px 0px 1px #444, 0px 0px 4px #444, 0px 0px 0px #fff;
    text-shadow: 1px 0px 1px #444, 0px 1px 1px #444;    
}

.nav-carousel {     
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 200px;
    transition: background-color 1.5s;    
}


.nav-carousel .image-list {    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
}
.nav-carousel .image-list > div { 
    list-style: none;
    border: 2px solid white;
    opacity: 0.5;    
    height: 16px;
    width: 16px;
    border-radius: 50%;
    box-shadow: 0 0 2px #444;

    cursor: pointer;    
}
.nav-carousel .image-list > div:hover {
    border-color: var(--accent-1);    
    box-shadow: 0 0 1px 2px var(--accent-1);    
    opacity: 1;
}
.nav-carousel .image-list > div.clicked { 
    background: rgba(255, 255, 255, 0.6);
    border-color: rgb(255, 255, 255) !important;
    animation: 4s pulse-shadow infinite; 
    opacity: 1;
}
.nav-carousel .image-list > div.line {
    border-radius: 0;
    width: 1px;
    height: 1px;    
    background: white;
    border: 0;
    flex-grow: 2;
    margin: 8px;
    box-shadow: none;
    opacity: 0.4;
}
.nav-carousel .image-list > div:first-child {
    margin-top: 0px;
}
.nav-carousel .image-list > div:last-child {
    margin-bottom: 0px;
}

@keyframes pulse-shadow {
    0% { box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.9);  }    
    70% { box-shadow: 0 0 0 10px rgba(0,0,0,0); }
    100% { box-shadow: 0 0 0 0 rgba(0,0,0,0); }    
}


.gradient-line {
    width: 1px;
    height: 100%;    
    position: absolute;
    top: 0px;
    left: 100px; 
    opacity: 0.9;     

    border-left: 1px solid rgba(255, 255, 255, 0.4);
    animation: animate-opacity 4s infinite ease-in-out;    
}

.gradient-up {    
    width: 1px;
    height: 100%;    
    position: absolute;
    top: 0px;
    left: 160px;
    opacity: 0.9;       
    
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0) 20%);
    background-position: right;
    background-size: 1px 30px;
    background-repeat: repeat-y;     
    animation: none;
}

.gradient-down {
    
    width: 1px;
    height: 100%;    
    position: absolute;
    top: 0px;
    left: 40px; 
    opacity: 0.9;      
    
    transform: rotate(180deg);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0) 20%);
    background-position: right;
    background-size: 1px 30px;
    background-repeat: repeat-y;         
    animation: none;
}

@keyframes dashed-border-animation-up {  
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.7;
    }  
      100% {
        background-position: right 25px;
        opacity: 0.5;
      }
  }

@keyframes dashed-border-animation-down {   
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.7;
    }  
    100% {        
        background-position: right 25px;
        opacity: 0.5;
      }
  }

  .version-number {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    color: rgba(255,255,255,0.90);     
    font-size: 16px;  
  }